body {
}

h1 {
    letter-spacing: 3;
}

.repo-list {
    border-left: 1px solid #ccc;
    margin-left: 28px;
    padding-left: 100px;
}

.repo {
    position: relative;
}

.repo h2 {
    padding-top: 11px;
}

.repo time {
    position: absolute;
    left: -132px;
    top: 7px;
    background: #fff;
    padding: 15px 0;
    font-size: 16px;
    color: #bbb;
}

.readme {
    margin-left: 20px;
    font-size: 16px;
}

.readme h1 {
    display: none;
}

.readme a.anchor {
    display: none;
}
